<!doctype html>
<html>
  <head>
    {{ if hasField . "ID" }}
      <title>Go Glitch - Viewing image {{.ID}}</title>
    {{ else }}
      <title>Go Glitch</title>
    {{ end }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/base.css">
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.cloudflare.com/cdn-cgi/scripts/935cb224/cloudflare-static/rocket.min.js"></script>
  </head>
  {{ if hasField . "ID" }}
    <body class="image">
  {{ else }}
    <body class="index">
  {{ end }}
    <section class="header">
      <div class="container">
        <div class="row">
          <h1 class="title glitch" data-text="glitch"><a href="/">glitch</a></h1>
        </div>
      </div>
    </section>
    {{ yield }}
  </body>
</html>
