<!doctype html>
<html>
  <head>
    <title>{{ .Header.Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{.Header.Desc}}" />
    <meta property="og:description" content="{{.Header.Desc}}" />
    <meta property="og:title" content="{{.Header.Title}}" />
    <meta property="og:site_name" content="{{.Header.SiteName}}" />
    <meta property="og:url" content="https://glitch.blizztrack.com/{{ .Header.URL }}" />
    {{ if .Header.Image }}
    <meta property="og:image" content="{{.Header.Image}}"/>
    <meta property="og:type"  content="article" />
    {{ if (gr .Header.ImageWidth 0) and (gr .Header.ImageHeight 0) }}
    <meta property="og:image:width"  content="{{ .Header.ImageWidth }}" />
    <meta property="og:image:height" content="{{ .Header.ImageHeight }}" />
    {{ end }}
    {{ end }}
    
    <link rel="stylesheet" href="/static/css/base.css">
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    
  </head>
  <body class="{{ .BodyClass }}">
    <section class="header">
      <div class="container">
        <div class="row">
          <h1 class="title glitch" data-text="glitch"><a href="/">glitch</a></h1>
        </div>
      </div>
    </section>
    {{ yield }}
  </body>
</html>
