/* * Base SASS for glitch.blizztrack.com
 *
 * */
/* Vars and imports */
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");
/* Base element styling */
body {
  margin: 0;
  background-color: #000;
  color: #4BC440;
  font-size: 9pt;
  font-family: "Anonymous Pro", monospace, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 2rem 0;
  width: 100%;
  position: relative;
}
@media (max-width: 399px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 400px) {
  .container {
    width: 85%;
  }
}
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
}

.header {
  text-align: center;
}
.header a {
  color: #fff;
  text-decoration: none;
}

.container:after,
.row:after {
  content: "";
  clear: both;
  display: table;
}

p .error {
  color: #D33131;
  font-weight: 700;
}

/* Sections */
.upload {
  margin: 5em;
}

.display {
  width: 100%;
  margin-top: 5.5em;
  text-align: center;
}
.display img {
  max-width: 100%;
}

/* Import form CSS and glitch CSS */
/* glitched text styling */
@keyframes noise-anim {
  0% {
    clip: rect(90px, 9999px, 55px, 0);
  }
  5% {
    clip: rect(58px, 9999px, 11px, 0);
  }
  10% {
    clip: rect(8px, 9999px, 50px, 0);
  }
  15% {
    clip: rect(13px, 9999px, 39px, 0);
  }
  20% {
    clip: rect(45px, 9999px, 18px, 0);
  }
  25% {
    clip: rect(62px, 9999px, 73px, 0);
  }
  30% {
    clip: rect(79px, 9999px, 67px, 0);
  }
  35% {
    clip: rect(96px, 9999px, 78px, 0);
  }
  40% {
    clip: rect(9px, 9999px, 23px, 0);
  }
  45% {
    clip: rect(51px, 9999px, 32px, 0);
  }
  50% {
    clip: rect(45px, 9999px, 52px, 0);
  }
  55% {
    clip: rect(77px, 9999px, 4px, 0);
  }
  60% {
    clip: rect(63px, 9999px, 95px, 0);
  }
  65% {
    clip: rect(56px, 9999px, 59px, 0);
  }
  70% {
    clip: rect(69px, 9999px, 57px, 0);
  }
  75% {
    clip: rect(79px, 9999px, 44px, 0);
  }
  80% {
    clip: rect(56px, 9999px, 66px, 0);
  }
  85% {
    clip: rect(53px, 9999px, 83px, 0);
  }
  90% {
    clip: rect(54px, 9999px, 43px, 0);
  }
  95% {
    clip: rect(99px, 9999px, 3px, 0);
  }
  100% {
    clip: rect(1px, 9999px, 19px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(79px, 9999px, 17px, 0);
  }
  5% {
    clip: rect(73px, 9999px, 7px, 0);
  }
  10% {
    clip: rect(26px, 9999px, 70px, 0);
  }
  15% {
    clip: rect(87px, 9999px, 91px, 0);
  }
  20% {
    clip: rect(16px, 9999px, 97px, 0);
  }
  25% {
    clip: rect(27px, 9999px, 57px, 0);
  }
  30% {
    clip: rect(59px, 9999px, 88px, 0);
  }
  35% {
    clip: rect(90px, 9999px, 77px, 0);
  }
  40% {
    clip: rect(14px, 9999px, 57px, 0);
  }
  45% {
    clip: rect(63px, 9999px, 18px, 0);
  }
  50% {
    clip: rect(60px, 9999px, 42px, 0);
  }
  55% {
    clip: rect(41px, 9999px, 95px, 0);
  }
  60% {
    clip: rect(30px, 9999px, 91px, 0);
  }
  65% {
    clip: rect(30px, 9999px, 37px, 0);
  }
  70% {
    clip: rect(47px, 9999px, 28px, 0);
  }
  75% {
    clip: rect(33px, 9999px, 81px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 34px, 0);
  }
  85% {
    clip: rect(68px, 9999px, 65px, 0);
  }
  90% {
    clip: rect(32px, 9999px, 38px, 0);
  }
  95% {
    clip: rect(20px, 9999px, 21px, 0);
  }
  100% {
    clip: rect(96px, 9999px, 94px, 0);
  }
}
.glitch {
  position: relative;
}
.glitch::after, .glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.glitch::before {
  left: -2px;
  text-shadow: 1px 0 blue;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: 2px;
  text-shadow: -1px 0 red;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

/* Form styling */
.expression {
  display: inline-block;
  color: #4BC440;
  background-color: #000;
  border: none;
  border-bottom: 1px dashed #4BC440;
  width: 60%;
  max-width: 80%;
  font-family: inherit;
}

.expressionForm:last-child {
  margin-bottom: 1em;
}

.fileUpload {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  color: #4BC440;
  background-color: #000;
  cursor: pointer;
  margin-bottom: 1em;
}

.uploadFile {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -6.5em;
  opacity: 0;
  filter: alpha(opacity=0);
}

.button {
  background-color: #000;
  font-family: inherit;
  color: inherit;
  border: none;
  display: block;
  text-align: left;
  margin-top: 1em !important;
  cursor: pointer;
  font-size: 9pt;
  padding: 0;
}
.button:hover {
  color: #fff;
}

.addExpr, .removeExpr {
  margin-left: 2em !important;
}

.fileName,
.chooseFile {
  display: inline-block;
}
